name: Test filters

on:
  push:

jobs:
  filter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check environment
        run: |
          echo "PATH: ${PATH}"
          which git

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            workflows:
              - .github/workflows/**

      - if: steps.filter.outputs.workflows == 'true'
        run: |
          echo "A workflow has changed"
